/* footer */
.footer {
    background-color: #344955; /* Fondo del footer */
    padding: 20px;
    border-top: 1px solid #dcdcdc;
    font-family: Poppins, sans-serif;
    color: #fff; /* Texto en blanco */
}

/* Layout for the content area */
.footer__content {
    display: flex;
    margin-bottom: 20px;
    align-items: flex-start;
}

/* Styling for the logo section */
.footer__logo {
    display: flex;
    align-items: center;
    margin-right: 4vw;
}

.footer__logo-img {
    width: 50px;
    height: auto;
    margin-right: 10px;
    border: 2px solid #fff; /* Borde blanco para los logos */
}

.footer__title {
    font-size: 1.5em;
    font-weight: bold;
}

/* Styling for each column in the footer */
.footer__column {
    flex: 1;
}

.footer__heading {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer__list {
    list-style: none;
    padding: 0;
}

.footer__list li {
    margin-bottom: 5px;
}

/* Styling for the links */
.footer__link {
    text-decoration: none;
    color: #fff; /* Enlaces en blanco */
}

.footer__link:hover {
    text-decoration: underline;
}


.footer__bottom {
    display: flex; 
    justify-content: center; /* Centrar el contenido */
    align-items: center; 
    border-top: 1px solid #dcdcdc;
    padding-top: 10px;
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan */
}

.footer__copyright {
    margin: 0;
    text-align: center; /* Centrar el texto */
}

.footer__social {
    display: flex; 
    justify-content: center; /* Centrar los iconos */
    margin-left: 10px; /* Ajuste de margen */
}

.footer__social-link {
    margin-left: 10px; /* Espacio entre los iconos */
}

.footer__social-link img {
    width: 35px; /* Tamaño de los iconos */
    height: auto; 
    border: 1px solid #fff;  /* Borde blanco para los iconos de redes sociales */
    transform: translateX(-10px) translateY(-10px);
}

/* Footer responsive   */


@media screen and (max-width: 800px) {

    .footer__content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        max-height: 40vh;
    }
  
    .footer__column {
        justify-self: space-around;
    }

    .footer__logo {
        margin-bottom: 4vh;
    }
}

@media screen and (max-width: 500px) {
    .footer__content {
        font-size: 3vw;
    }

    .footer__logo {
        margin-right: 3vw;
    }

    .footer__title {
        font-size: 4vw;
    }

    .footer__logo-img {
        margin-right: 5px;
    }
}