/* Estilos del main y secciones */
.hero-section {
    position: relative;
    text-align: center;
    color: rgb(255, 255, 255);
    overflow: hidden;
}

.hero-container {
    position: relative;
    display: inline-block; /* Asegura que el contenedor se ajuste al tamaño de la imagen */
    width: 100%;
}

.hero-image {
    display: block;
    width: 100%; /* Cambia el tamaño de la imagen */
    height: auto;

}

.hero-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 3px 15px rgba(0, 0, 0, 1.9);
    z-index: 2;
    width: 80%; /* Ajusta el ancho del texto */
    max-width: 100%; /* Cambia el máximo a 100% para adaptarse mejor */
}


.hero-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)); /* Añade un degradado */
    z-index: 1; /* Asegura que el degradado esté detrás de todo el contenido del hero-container */
}

/* texto del título */
.hero-title {
    font-size: 2.5em;
    
}

/* Cambia los valores de top y left para ajustar la posición del texto */
.hero-title,
.hero-subtitle,
.hero-description {
    margin: 0;
}

/*texto del subtítulo */
.hero-subtitle {
    font-size: 1.2em;
    margin-top: 10px;
}

/* texto de la descripción */
.hero-description {
    font-size: 1em;
    margin-top: 20px;
    
}


.info-section {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    background-color: #f5f5f5;
    flex-wrap: wrap;
}

.info-box {
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: calc(30% - 40px); /* 30% menos el doble del padding horizontal */
    max-width: 400px;
    text-align: center;
    margin-bottom: 20px; /* Espacio entre cajas */
    box-sizing: border-box; /* Incluir padding y border en el ancho */
}



/* Cambia los valores de top y left para ajustar la posición de los cuadros */
.info-box h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.info-box p {
    font-size: 1em;
    margin-bottom: 15px;
}

.btn {
    display: inline-block; /* Asegura que el botón tenga un ancho automático según el contenido */
}

.btn a {
    text-decoration: none; /* Elimina el subrayado del enlace */
    background-color: #2eccaf;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    display: inline-block; /* Asegura que el enlace se comporte como un bloque en línea */
}

.btn a:hover {
    background-color: #1f839f;
}

@media (max-width: 800px) {
    .hero-title {
        font-size: 2em;
    }
    
    .hero-subtitle {
        font-size: 1em;
    }
    
    .hero-description {
        font-size: 0.9em;
    }
    
    .hero-overlay {
        width: 90%; /* Ajusta el ancho del overlay para pantallas más pequeñas */
    }
    
    .info-box {
        width: calc(50% - 40px); /* 50% menos el doble del padding horizontal */
    }
}

@media (max-width: 500px) {
    .hero-title {
        font-size: 1.8em;
    }
    
    .hero-subtitle {
        font-size: 0.9em;
    }
    
    .hero-description {
        font-size: 0.8em;
    }
    
    .hero-overlay {
        width: 100%; /* Ajusta el ancho del overlay al 100% para pantallas más pequeñas */
        padding: 0 10px; /* Ajuste adicional al padding para pantallas más pequeñas */
    }
    
    .info-box {
        width: calc(100% - 40px); /* Ancho completo menos el doble del padding horizontal */
    }
}



