
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eee;
    font-family:'Poppins', sans-serif;
}


/*style login*/
.registration-form {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #1f888e; /* Cambia color marco registro */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* sombra marco registro */
    background-color: #ffffff; /* Cambia el color del fondo del formulario */
}

.registration-form h1 {
    position: relative;
    top: -10px; /* Cambia la posición del título */
    text-align: center;
    margin-bottom: 20px;
}

.registration-form form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.registration-form .form-row {
    flex: 1 1 100%; /* Cambia el ancho de los campos */
    margin-bottom: 20px;
    
    display: flex;
    flex-direction: column;
}

.registration-form label {
    margin-bottom: 5px; 
}

.registration-form input[type="text"],
.registration-form input[type="password"],
.registration-form select {
    width: 100%; /* Ancho del 100% del contenedor */
    padding: 10px; /* Ajusta el relleno según sea necesario */
    font-size: 16px; /* Tamaño de fuente */
    border: 1px solid #ccc; /* Borde */
    border-radius: 5px; 
    box-sizing: border-box; /* Incluye el padding y border en el ancho total */
}
.registration-form button[type="submit"] {
    display: block; 
    margin: 0 auto; 
    width: 50%;
    padding: 10px;
    background-color: #1f888e;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}



.registration-form button:hover {
    background-color: #344955; 
}

.btn-cerrar {
    position: absolute;
    top: 100px; 
    right: 30px; 
    cursor: pointer; 
  }
  
  .btn-cerrar img {
    width: 28px; 
    height: auto; 
  }

  #mensaje a {
    text-decoration: none; /* Quita el subrayado predeterminado de los enlaces */
    color: #4d3a9c; /* Color azul para los enlaces */ 
    margin: 0 5px; /* Márgenes para separar los enlaces */
}

#mensaje a:hover {
    text-decoration: underline; /* Subrayado al pasar el mouse sobre los enlaces */
}
